@model IEnumerable<MyToDo.Models.TodoItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{
Html.RenderPartial("~/Views/Todo/_listTaskUser.cshtml", Model);
}