@using Microsoft.AspNet.Identity
@model IEnumerable<MyToDo.Models.TodoItem>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Todo List</h1>    
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Hi @User.Identity.GetUserName()</h1>
        <h2>You have @ViewBag.Tasks.Count Tasks</h2>
     </div>
    <div class="col-md-10 col-md-offset-1">
        <h1>Your Tasks are</h1>
        @Html.Partial("~/Views/Todo/_listTaskUser.cshtml")       
        @Html.ActionLink("Ajouter une tâche","create","Todo", new { aera = "" } ,new  { @class = "btn btn-primary"})

</div>
        
</div>